:root {
  --f52: 142, 142, 142;
  --h1d: 255, 255, 255;
  --de5: 255, 255, 255;
  --d69: 0, 149, 246;
  --b86: 88, 195, 34;
  --i30: 237, 73, 86;
  --d62: 255, 255, 255;
  --e4f: 54, 54, 54;
  --a72: 255, 255, 255;
  --ie3: 142, 142, 142;
  --c37: 237, 73, 86;
  --f24: 0, 149, 246;
  --jbb: 53, 121, 234;
  --eca: 255, 255, 255;
  --jb7: 0, 0, 0;
  --fa7: 224, 241, 255;
  --ba8: 168, 168, 168;
  --eac: 237, 73, 86;
}

.icon_mini_search {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -355px -340px;
  width: 10px;
  height: 10px;
}

.icon_home {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -405px -2px;
  width: 22px;
  height: 21px;
}

.icon_chat {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -189px -353px;
  width: 22px;
  height: 22px;
}

.icon_compass {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -371px -353px;
  width: 22px;
  height: 22px;
}

.icon_heart {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -405px -236px;
  width: 22px;
  height: 20px;
}

.profile_img img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.story_img {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat 0 -222px;
  width: 64px;
  height: 64px;
}

.icon_next {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -321px -69px;
  width: 30px;
  height: 30px;
}

.icon_delete {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -48px -387px;
  width: 14px;
  height: 14px;
}

.content_img {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -64px -288px;
  width: 58px;
  height: 58px;
  zoom: 0.7;
}

.icon_more {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -68px -390px;
  width: 14px;
  height: 4px;
}

.icon_save {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -408px -54px;
  width: 16px;
  height: 20px;
}

.icon_mini_heart {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -405px -236px;
  width: 22px;
  height: 20px;
  zoom: 0.5;
}

.icon_red_heart {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -84px -354px;
  width: 24px;
  height: 21px;
}

.icon_mini_red_heart {
  display: inline-block;
  background: url("../img/ig-sprite.png") no-repeat -84px -354px;
  width: 24px;;
  height: 21px;
  zoom: 0.5;
}